---
http_interactions:
- request:
    method: get
    uri: http://api.wunderground.com/api/<WEATHER_KEY>/forecast10day/q/63109.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Last-Modified:
      - Sat, 27 May 2017 21:54:40 GMT
      X-Creationtime:
      - '0.027'
    body:
      encoding: UTF-8
      string: "\n{\n  \"response\": {\n  \"version\":\"0.1\",\n  \"termsofService\":\"http://www.wunderground.com/weather/api/d/terms.html\",\n
        \ \"features\": {\n  \"forecast10day\": 1\n  }\n\t}\n\t\t,\n\t\"forecast\":{\n\t\t\"txt_forecast\":
        {\n\t\t\"date\":\"3:35 PM CDT\",\n\t\t\"forecastday\": [\n\t\t{\n\t\t\"period\":0,\n\t\t\"icon\":\"tstorms\",\n\t\t\"icon_url\":\"http://icons.wxug.com/i/c/k/tstorms.gif\",\n\t\t\"title\":\"Saturday\",\n\t\t\"fcttext\":\"Strong
        to severe thunderstorms likely. Lows overnight in the low 60s.\",\n\t\t\"fcttext_metric\":\"Scattered
        strong thunderstorms. Low 17C.\",\n\t\t\"pop\":\"90\"\n\t\t}\n\t\t,\n\t\t{\n\t\t\"period\":1,\n\t\t\"icon\":\"nt_tstorms\",\n\t\t\"icon_url\":\"http://icons.wxug.com/i/c/k/nt_tstorms.gif\",\n\t\t\"title\":\"Saturday
        Night\",\n\t\t\"fcttext\":\"Thunderstorms likely, some strong, especially
        during the evening. Damaging winds and large hail with some storms. Low 63F.
        SE winds shifting to WNW at 10 to 15 mph. Chance of rain 90%.\",\n\t\t\"fcttext_metric\":\"Variable
        clouds with strong thunderstorms, especially ear[...]
[...]
